body {
  font-family: 'Monda', sans-serif;
  background: #fdfdfd;
  color: #333;
}

h1.name {
  font-family: 'Bungee', cursive;
  margin-top: 50px;
  font-size: 3.5em;
}

ul.skills li {
  margin: 10px;
  font-weight: bold;
}

.bar {
  border-top: 2px solid #aaa;
  width: 50%;
  margin: 20px auto;
}
